body {
    background: url('../src/1.jpeg') center/cover;
    height: 700px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.portfolio {
    width: 90%;
    height: 95%;
    background-color: #fff6e7;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.navbar__title a {
    color: green;
    margin-left: 40px;
}

.navbar__menu {
    margin: 0;
    padding-left: 0;
    align-items: center;
    display: flex;
    list-style: none;
}

.navbar__menu a {
    color: black;
    font-weight: 600;
    margin-right: 40px;
}

.navbar__menu a:hover,
.navbar__menu a.clicked {
    color: green;
    border-bottom: 1px solid green;
}

 /* contact */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contact__content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.contact__left {
    width: 500px;
    height: 400px;
}

.contact__right {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.contact__title {
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-size: 44px;
    margin-top: 10px;
}

.contact__email {
    font-size: 20px;
}

.contact__links {
    display: flex;
    justify-content: space-evenly;
}
.contact__links i {
    font-size: 50px;
    color: green;
}

.contact__links img {
    width: 50px;
}

.contact__links i, .contact__links img:hover {
    transform: scale(1.1);
}
